.answer-report-btn {
  text-decoration: none;
  padding: 3px 10px;
  border-radius: 29px;
  background-color: rgb(230, 87, 87);
  color: white;
  text-align: left;
  margin-left: 10px;
  margin-top: -2px;
  cursor: pointer;
}

#sellerInfo {
  font-size: small;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}