.qa-list {
  overflow: auto;
  max-height: 600px;
}

.questions-answers-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.matt-btn {
  margin-right: 15px;
  padding: 10px 15px;
  width: 200px;
}

