.attribute-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  width: 100%;
}

.radio-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  font-size: 2rem;
  font-weight: bold;
}

.radio-holder {
  flex-direction: column;
  display: flex;
  width: 100%;
  gap: 10px;
}

.attribute-group {
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.attribute-radio {
  display: flex;
  flex: 1 0 20%;
  justify-content: space-between;
}

.attribute-descriptor {
  display: flex;
  justify-content: space-between;
  font-size: x-small;
  color: rgba(89, 89, 89, 0.632);
}

.attribute-container label {
  font-size: large;
  color: #333;
}

input .radio-form-button {
  width: 100px;
}
.attribute-left {
  /* display: flex; */
  justify-content: left;
  width: 100px;
}
.attribute-middle {
  display: flex;
  justify-content: center;
  width: 100px;
}
.attribute-right {
  display: flex;
  justify-content: center;
  width: 100px;
}