.review-text {
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.5;
}

.review-text span {
  width: 100%;
  word-wrap: break-word;
  display: inline-block;
  max-width: 900px;
}

.review-photo-holder {
  display: flex;
  gap: 10px;
  height: 50px;
  width: 50px;
}
.review-photo-holder-container {
  width: 100%;
  display: inline-flex;
  height: 125px;
}
.review-photo-holder {
  padding: 5px;
  justify-content: left;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 50%;
  gap: 10px;
  height: 100%;
}

/* @media screen and (max-width: 1257px) {
  .review-photo-holder-container {
    height: 215px;
  }
} */

/* .review-photo-holder div {
  height: 100px;
  width: 100px;
} */

.review-photo-holder img {
  border-radius: 10px;
  height: 100px;
  width: 100px;
  object-fit: cover;
}


.response {
  background-color: rgb(235,235,235);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .review-recommend {

} */

.read-more {
  margin-top: 10px;
  text-decoration: none;
  display: block;
  color: rgb(4, 113, 132);
}