.review-data-container{
  color: #333;
  display: flex;
  justify-content: left;
  gap: 1rem;
}
.review-summary {
  font-weight: bold;
  font-size: 1.25rem;
}

.date-box {
  color: rgb(113,113,113);
  margin-top: 3px;
}

.review-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90px;
}