.review-section-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.sort-review-show-all-buttons {
  display: flex;
}

.review-section-buttons button {
  color: whitesmoke;
  background-color: rgb(51,51,51);
}

.reviews-section {
  position: relative;
  flex: 1 1 80%;
  padding: 10px;
  margin-left: 60px;
}

.show-all-reviews-btn {
  width: 200px;
	height: 40px;
	list-style-type: none;
	background-color: #333;
	text-align: center;
	margin-right: 2px;
  line-height: 40px;
	text-decoration: none;
  text-align: center;
	color: white;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .ratings-reviews-section {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .reviews-section {
    max-width: 390px;
    margin-top: 25px;
    margin-left: 65px;
  }

  .review-container {
    width: 90% !important;
  }
}

