.form-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.form-image {
  height: 100%;
  flex: 1 1 30%;
  background: url(https://bit.ly/3sF5qUD);
  background-size: cover;
  background-position-x: 70%;
}

.product-review-form-container {
  flex: 1 1 70%;
}

#review {
	background:#f9f9f9;
	padding:25px;
  width: 100%;
}

#review h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#review h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}


fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#review input[type="text"], #review input[type="email"], #review input[type="tel"], #review input[type="url"], #review textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#review input[type="text"]:hover, #review input[type="email"]:hover, #review input[type="tel"]:hover, #review input[type="url"]:hover, #review textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#review textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#review button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background-color: rgba(215, 177, 121);
	color:#333;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#review button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#review button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#review input:focus, #review textarea:focus {
	outline:0;
	border:1px solid #999;
}

.relative-fieldset {
  position: relative;
}

.review-photo-holder {
  display: flex;
  gap: 10px;
  height: 50px;
  width: 50px;
}
.review-photo-holder img {
  border-radius: 5px;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.custom-file-upload {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 95%;
  height: 3rem;
  border: 3px dashed #333;
  padding: 6px 12px;
  cursor: pointer;
}

.custom-file-upload:hover {
  color: blue;
  border: 3px dashed blue;
  background-color: rgba(0, 0, 255, 0.16);
}

.custom-file-upload:active {
  background-color: rgba(255, 255, 255, 0.557);
}

fieldset i {
  margin-right: 0.5rem;
}

input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}