.meta {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.marker {
  transition: all 3s ease-in;
  left: 0%;
  position: absolute;
  transform: translate(-50%, 0%);
  height: 100%;
  width: 1.5rem;
  background-color: #333;
  border-radius: 40px;
  /* transition: all 1.5s cubic-bezier(.33,.98,1,.99); */
}