.ratings-section {
  padding: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  flex: 1 0 20%;
  min-width: 285px;
}

.rating-summary-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ratings-score {
  font-style: italic;
  font-size: 3rem;
  font-weight: bold;
}

.rating-summary-top span {
  font-size: 45px;
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar .progress-descriptor {
  font-weight: 300;
  font-size: .9rem;
  font-style: italic;
  width: 60px;
}

.bar-title {
  padding-top: 10px;
  padding-bottom: 5px;
  font-style: italic;
  font-weight: bold;
  width: 60%;

}