#modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 2%;
  left: 90%;
  border-radius: 10px;
  height: 50px;
  width: 80px;
  color: #333;
  background-color: whitesmoke
}

.jim-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.666);
  z-index: 1;
}

.jim-modal {
  z-index: 100;
  transition: all 0.2s ease-in;
  background-color: #333;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  top: 50%;
  left: -50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  height: 90vh;
  width: 90vw;
  max-width: 80%;
};